<div class="container">
<h1>Restaurant <%= @restaurant.name %></h1>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone_number: </strong><%= @restaurant.phone_number %></p>
<p><strong>Fodd category: </strong><%= @restaurant.category %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Rating: <%="*" * review.rating %> |
      Content: <strong><%= review.content %></strong></li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
</div>


